In [1]:
from typing import Any, Dict, Optional
import os

import httpx
import requests

from app.etl.atmo_client import AtmoClient
from app.core.config import get_settings

In [7]:
settings = get_settings()

dataset_id = "632956d8eae137714f60ae22"
datafile_rid = "318d1042-79c8-4d39-b337-9d261050cf7d"
params = {
   # "millesime": "2025-02",
    "withColumnName": "true",
    "withColumnDescription": "true",
    "withColumnUnit": "true",
    "CODGEO_CODE": "eq:69123",   # <= important : opérateur eq:
    #"CODGEO_LIBELLE": "eq:Lyon"
}
#r = requests.get(f"{settings.SDES_BASE_URL_API}/datasets/{dataset_id}")
url = f"{settings.SDES_BASE_URL_API}/datafiles/{datafile_rid}/csv"
r = requests.get(url, params=params)
r.raise_for_status()
print(r.status_code, r.url)

200 https://data.statistiques.developpement-durable.gouv.fr:443/dido/api/v1/datafiles/318d1042-79c8-4d39-b337-9d261050cf7d/csv?withColumnName=true&withColumnDescription=true&withColumnUnit=true&CODGEO_CODE=eq%3A69123

In [8]:
import pandas as pd
from io import StringIO


csv_text = r.text
df_lyon = pd.read_csv(StringIO(csv_text), sep=";")  # séparateur ; en général
df_lyon.head()

,COG_COMMUNE - Code de la zone,COG_COMMUNE - Libellé de la zone,Libellé de la variable,Variable,Libellé du sous-champ,Sous-champ,Type de variable,Unité,Numéro de l’indicateur,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CODGEO_CODE,CODGEO_LIBELLE,LIBELLE_VARIABLE,VARIABLE,LIBELLE_SOUS_CHAMP,SOUS_CHAMP,TYPE_VAR,UNITE,NO_INDIC,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
2,69123,Lyon,Nombre de tués par accident de la route,nb_tues_routes,NaN,NaN,i,Nombre de personnes,i015,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,69123,Lyon,Nombre de blessés par accident de la route,nb_blesses_routes,NaN,NaN,i,Nombre de personnes,i015,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,69123,Lyon,population des 75 ans et plus,pop_75,NaN,NaN,c,Nombre de personnes,i017,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_lyon[df_lyon["A2018"].notna() & df_lyon["A2019"].notna() & df_lyon["A2020"].notna() & df_lyon["A2021"].notna() & df_lyon["A2022"].notna()]

,COG_COMMUNE - Code de la zone,COG_COMMUNE - Libellé de la zone,Libellé de la variable,Variable,Libellé du sous-champ,Sous-champ,Type de variable,Unité,Numéro de l’indicateur,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
1,CODGEO_CODE,CODGEO_LIBELLE,LIBELLE_VARIABLE,VARIABLE,LIBELLE_SOUS_CHAMP,SOUS_CHAMP,TYPE_VAR,UNITE,NO_INDIC,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
2,69123,Lyon,Nombre de tués par accident de la route,nb_tues_routes,NaN,NaN,i,Nombre de personnes,i015,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,69123,Lyon,Nombre de points de relevés souterrains : nitr...,ESO_NIT_NB_TOT_CLAS1,NaN,NaN,c,Nombre de points de relevés,i034a,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,69123,Lyon,Nombre de points de relevés souterrains : nit...,ESO_NIT_NB_TOT_CLAS2,NaN,NaN,c,Nombre de points de relevés,i034a,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,69123,Lyon,Nombre de points de relevés souterrains : nit...,ESO_NIT_NB_TOT_CLAS3,NaN,NaN,c,Nombre de points de relevés,i034a,6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,69123,Lyon,Nombre de poids lourds immatriculés selon éner...,parc_pl,Crit’air4,critair4,c,Nombre de poids lourds,i118b,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
427,69123,Lyon,Nombre de poids lourds immatriculés selon éner...,parc_pl,Crit’air5,critair5,c,Nombre de poids lourds,i118b,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,69123,Lyon,Nombre de poids lourds immatriculés selon éner...,parc_pl,Electrique et hydrogène,critairE,c,Nombre de poids lourds,i118b,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,69123,Lyon,Nombre de poids lourds immatriculés selon éner...,parc_pl,Non classé,critairnc,c,Nombre de poids lourds,i118b,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
430,69123,Lyon,Part des poids lourds crit’air1 ou électriques...,part_critair_1_0_pl,NaN,NaN,i,%,i118b,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Select rows where A1990 is not NaN

df_lyon[df_lyon["A1990"] != "NaN"]

,COG_COMMUNE - Code de la zone,COG_COMMUNE - Libellé de la zone,Libellé de la variable,Variable,Libellé du sous-champ,Sous-champ,Type de variable,Unité,Numéro de l’indicateur,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CODGEO_CODE,CODGEO_LIBELLE,LIBELLE_VARIABLE,VARIABLE,LIBELLE_SOUS_CHAMP,SOUS_CHAMP,TYPE_VAR,UNITE,NO_INDIC,ODD1,...,A1991,A1990,A1989,A1988,A1987,A1986,A1985,A1984,A1983,A1982
2,69123,Lyon,Nombre de tués par accident de la route,nb_tues_routes,NaN,NaN,i,Nombre de personnes,i015,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,69123,Lyon,Nombre de blessés par accident de la route,nb_blesses_routes,NaN,NaN,i,Nombre de personnes,i015,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,69123,Lyon,population des 75 ans et plus,pop_75,NaN,NaN,c,Nombre de personnes,i017,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
436,69123,Lyon,Surfaces consommées depuis 2009,nafart,Pour l’habitat,hab,c,m2,i121,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
437,69123,Lyon,Surface communale,surfcom,NaN,NaN,c,m2,i121,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
438,69123,Lyon,Part de la surface communale qui a été consomm...,artcom,Total,total,i,%,i121,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
439,69123,Lyon,Part de la surface communale qui a été consomm...,artcom,Pour l’activité,act,i,%,i121,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
440,69123,Lyon,Part de la surface communale qui a été consomm...,artcom,Pour l’habitat,hab,i,%,i121,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_lyon.to_csv("SDES_ITDD_Lyon.csv", index=False)

In [14]:
import json

output_path = "SDES_ITDD_Auvergne-Rhône-Alpes.json"
with open(output_path, "w", encoding="utf-8") as f:
    json.dump(dataset, f, indent=2, ensure_ascii=False)

output_path

'SDES_ITDD_Auvergne-Rhône-Alpes.json'

In [5]:
curl "" + SDES_BASE_URL_API + "/datasets?page=1&pageSize=all" \
  | jq -c '.data[] | {id, title}' \
  | jq -s '.'

SyntaxError: invalid syntax (3524799302.py, line 1)

In [7]:
import requests
import json

url = f"{settings.SDES_BASE_URL_API}/datasets?page=1&pageSize=all"
response = requests.get(url)
response.raise_for_status()

data = response.json()["data"]

# Keep only id and title
cleaned = [{"id": d["id"], "title": d["title"]} for d in data]

cleaned

[{'id': '63ecb0418b083b02288edf23',
  'title': 'Données nationales sur la commercialisation des logements neufs'},
 {'id': '63ecb013d3616ab39e722df2',
  'title': 'Données régionales sur la commercialisation des logements neufs'},
 {'id': '63ecafe2c23793f3638edf24',
  'title': 'Données départementales sur la commercialisation des logements neufs'},
 {'id': '63ecaef1c23793f3638edf23',
  'title': 'Données selon le zonage ABC sur la commercialisation des logements neufs'},
 {'id': '675c0ad59718fa4d74fc907c',
  'title': 'Entrepôts et plateformes logistiques'},
 {'id': '653a73851c7e074730ec5b5b',
  'title': 'Locaux non résidentiels autorisés et commencés, séries mensuelles'},
 {'id': '631b03afb61e5c6479370169',
  'title': "Conjoncture mensuelle de l'énergie"},
 {'id': '660432ce0b8987ef5dd9465d',
  'title': 'Logements autorisés et commencés, séries mensuelles communales en date de prise en compte'},
 {'id': '6513f0189d7d312c80ec5b5b',
  'title': 'Liste des permis de construire et autres autorisations d’urbanisme'},
 {'id': '6513ef5f3b05e5cd969c2711',
  'title': 'Locaux non résidentiels autorisés et commencés, en séries annuelles'},
 {'id': '6513eed03b05e5cd969c2710',
  'title': 'Logements autorisés et commencés, nombre et surfaces, séries mensuelles'},
 {'id': '6513ee3a3b05e5cd969c270f',
  'title': 'Logements autorisés et commencés, nombre et surfaces, séries annuelles'},
 {'id': '6102466697d9291fc5ce2d70',
  'title': "Données locales de consommation d'électricité et de gaz naturel et de chaleur et de froid - adresse (à partir de 2018)"},
 {'id': '610247f1e43667219cec5da8',
  'title': "Données locales de consommation d'électricité et de gaz naturel - région (à partir de 2018)"},
 {'id': '610244c9e436671e84ec5da8',
  'title': "Données locales de consommation d'électricité, de gaz naturel et de chaleur et de froid - IRIS (à partir de 2018)"},
 {'id': '6102486fe436672220ec5da8',
  'title': "Données locales de consommation d'électricité et de gaz naturel - EPCI (à partir de 2018)"},
 {'id': '6102491997d9292269ce2d70',
  'title': 'Données locales de consommation de chaleur et de froid - commune (à partir de 2018)'},
 {'id': '610244a997d9291e03ce2d70',
  'title': 'Données mensuelles de consommation de produits pétroliers (à partir de 2017)'},
 {'id': '6102445fe436671e1cec5da8',
  'title': 'Données locales de consommation de produits pétroliers - département (à partir de 2005)'},
 {'id': '61024489e436671e47ec5da8',
  'title': 'Données locales de consommation de produits pétroliers - DROM (à partir de 2011)'},
 {'id': '682c33e7d455a8571c7d00ff', 'title': 'Parc de véhicules routiers'},
 {'id': '6622107a0a16ec992700eab5',
  'title': 'Production et traitement des déchets'},
 {'id': '62b2c411ed00fe7b9195e145',
  'title': 'Gaz à effet de serre et polluants atmosphériques au format AEA (ex NAMEA) '},
 {'id': '6870fd6046d2f7597817b8fe',
  'title': 'Maritime: transport de marchandises'},
 {'id': '686790f156912d386b95d52e',
  'title': "Exposition des logements et des individus au risque d'inondation par submersion marine"},
 {'id': '68678efa1da66b014917b8fe',
  'title': "Exposition des logements et des individus au risque d'inondation par débordement de cours d'eau"},
 {'id': '68678c4364290d2dd795d52e',
  'title': 'Exposition des maisons individuelles au phénomène de retrait-gonflement des argiles (RGA)'},
 {'id': '683d7766e2ff66a027f3b693',
  'title': "Achats de produits phytosanitaires estimés à l'échelle de la commune"},
 {'id': '64394162329d458db52e7189',
  'title': "Achats de produits phytosanitaires à l'échelle du code postal "},
 {'id': '64394106723e32063d3a165a',
  'title': "Achats et ventes de produits phytosanitaires à l'échelle départementale"},
 {'id': '66684be91c2b28d362ecbf4f',
  'title': 'Fluvial : transport de marchandises'},
 {'id': '682c30aad455a8571c7d00fe',
  'title': 'Immatriculations de véhicules routiers'},
 {'id': '649bf6dbea4a7593d724e365',
  'title': "Certificats d'Economie d'Energie - EPCI"},
 {'id': '649bf583ea4a7593d724e364',
  'title': "Certificats d'Economie d'Energie - Départements"},
 {'id': '632956d8eae137714f60ae22',
  'title': 'Indicateurs territoriaux de développement durable (ITDD)'},
 {'id': '63b8281ec113d45936722df2',
  'title': 'Données détaillées du prix des terrains et du bâti'},
 {'id': '677d45b0359a5cbb32fc907c',
  'title': 'Rail : transport de marchandises'},
 {'id': '6390f7cb84f0679b04942fc2',
  'title': 'Données détaillées au logement du répertoire des logements locatifs des bailleurs sociaux (RPLS)'},
 {'id': '62792fb07ca0d5368edf67a3',
  'title': "Qualité de l'air extérieur : indicateurs nationaux"},
 {'id': '62792fb27ca0d5368edf67a4',
  'title': "Qualité de l'air extérieur : indicateurs territoriaux"},
 {'id': '6102495797d92922a8ce2d70',
  'title': "Données locales de consommation d'électricité, de gaz naturel et de chaleur et de froid (période 2008-2017)"},
 {'id': '645114943d964b9b210dd093',
  'title': 'Données sur le parc de véhicules au niveau régional'},
 {'id': '64511438f3196b5b550dd093',
  'title': 'Données sur le parc de véhicules au niveau communal'}]

In [8]:
import json

output_path = "SDES_datasets_list.json"
with open(output_path, "w", encoding="utf-8") as f:
    json.dump(cleaned, f, indent=2, ensure_ascii=False)

output_path

'SDES_datasets_list.json'

In [4]:
items = []
if isinstance(raw, dict):
    features = raw.get("features") or []
    for ft in features:
        props = (ft or {}).get("properties") or {}
        date_maj = props.get("date_maj")
        code_qual = props.get("code_qual")
        if date_maj is not None and code_qual is not None:
            items.append({"date_maj": date_maj, "code_qual": code_qual})

items

[]